/*-- scss:defaults --*/

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local(''), local(''),
\
       url('./fonts/alegreya-v38-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/alegreya-v38-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/alegreya-v38-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-500.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/alegreya-v38-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-500italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/alegreya-v38-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-600.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/alegreya-v38-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-600italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/alegreya-v38-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-700.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/alegreya-v38-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-700italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/alegreya-v38-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-800.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url('./fonts/alegreya-v38-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-800italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/alegreya-v38-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-900.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/alegreya-v38-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/alegreya-v38-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/alegreya-v38-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/alegreya-v38-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/alegreya-v38-latin-900italic.svg') format('svg'); /* Legacy iOS */
}
