/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
@import 'https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap';

// use Atkinson Hyperlegible font if available
$font-family-sans-serif: "Crimson Pro",      "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
//p {
// font-family: $font-family-serif;
//}


code a:any-link {
    color: #0253a2;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #6c757d;
  font-style: inherit;
}

//code span.fu {
//   color: #0253a2;
//   font-weight: bold;
//   text-decoration: underline;
//font-style: inherit;
//}

code span.va {
    color: #000000;
    font-style: inherit;
}


code span.kw {
    color: #204a87;
    font-weight: bold;
    font-style: inherit;
}
