@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-v39-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('./fonts/noto-sans-v39-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/noto-sans-v39-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/noto-sans-v39-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/noto-sans-v39-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/noto-sans-v39-latin-regular.svg') format('svg'); /* Legacy iOS */
}
