/*-- scss:defaults --*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-100.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-100italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-300.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-300italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-500.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-500italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-700.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-700italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-900.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local(''), local(''),
       url('./fonts/roboto-v30-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v30-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v30-latin-900italic.svg') format('svg'); /* Legacy iOS */
}
