/*-- scss:defaults --*/

@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 100;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-100.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 100;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-100italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 200;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-200.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 200;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-200italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-300.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 300;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-300italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-500.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 500;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-500italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-600.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-600italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-700.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-700italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 800;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-800.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 800;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-800italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 900;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-900.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Sofia Sans';
  font-style: italic;
  font-weight: 900;
  src: local(''), local(''),
       url('./fonts/sofia-sans-v16-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/sofia-sans-v16-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/sofia-sans-v16-latin-900italic.svg') format('svg'); /* Legacy iOS */
}
