/*-- scss:defaults --*/

h1.title {
    font-family: Vollkorn;
    color: #204a87
}

h1 {
    font-family: Vollkorn;
    color: #204a87
}

h2 {
    font-family: Vollkorn;
    color: #204a87
}

h2.anchored {
    font-family: Vollkorn;
    color: #204a87
}

h3 {
  font-family: Vollkorn;
  color: #204a87
}

h3.anchored {
  font-family: Vollkorn;
  color: #204a87
}

h4 {
  font-family: Vollkorn;
  color: #204a87
}

h4.anchored {
  font-family: Vollkorn;
  color: #204a87
}

h6 {
  font-family: Vollkorn;
  color: #204a87
}

h6.anchored {
  font-family: Vollkorn;
  color: #204a87
}

/*-- scss:rules --*/


code a:any-link {
    font-family: Fira Code; 
    color: #0253a2;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #6c757d;
    font-style: inherit;
}

code span.va {
    font-family: Fira Code;
    color: #000000;
    font-style: inherit;
}

div.cell {
  font-family: Fira Code;
}
pre.sourceCode {
    font-family: Fira Code;
    border-left: 3px;
    border-left-style: solid;
    border-left-color: #000;
    padding-left: 0.6em;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-size: .875em;
    overflow: visible !important;
    padding: 0.4em;
}


.nav-tabs {
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: #ecf0f1;
  }
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    background-color: #dee3e9;
    font-size: smaller;
}

p pre code:not(.sourceCode), li pre code:not(.sourceCode), pre code:not(.sourceCode) {
    background-color: initial;
    font-size: smaller;
}

code span.fu {
    color: #204a87;
    font-family: 'Fira Code';
    font-weight: bold;
    font-style: inherit;
}

code span.kw {
    color: #204a87;
    font-family: 'Fira Code';
    font-weight: bold;
    font-style: inherit;
}

code, .code {
    font-family: Consolas, monaco, monospace;
    font-size: smaller;
}

nav.quarto-page-breadcrumbs { 
    background: #ecf0f1;
}

.pagedtable {
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Roboto;
  font-size: smaller;
}


